<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tmntsogu1-001-site1.smarterasp.net/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://tmntsogu1-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>tmntsogu1-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\tmntsogu1-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MainDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9AAF3C_panda;User ID=DB_9AAF3C_panda_admin;Password=panda_temp_x" Name="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9AAF3C_panda;User Id=DB_9AAF3C_panda_admin;Password=panda_temp_x;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=panda;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MainDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(local);Database=panda;Trusted_Connection=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDbContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9AAF3C_panda;User Id=DB_9AAF3C_panda_admin;Password=panda_temp_x;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>