@model PandaWebApp.ViewModels.Blog.Entry
@{
    ViewBag.Title = "Создание поста";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()


    <div class="label">Тема</div>
    <div class="editor">@Html.TextBoxFor(model => model.Title)</div>
    <div class="label">Описание</div>
    @Html.TextAreaFor(model => model.FullText, new Dictionary<string, object>()
        {
            {"class", "ckeditor"}, {"name", "editor1"}
        })

    
     <input type="submit" value="Создать" />

}