@model PandaWebApp.ViewModels.Blog.Entry
      
<div class="blog">
    <div class="header">@Model.Title</div>
    <div class="date">@Model.CreatedDate</div>
    
    <div class="left picture"><img src="@ImageCreator.Create(Model.Image, 128, 128)" /></div>
    <div class="right short-description">
        <p>@Html.Raw(Model.FullText)</p>
    </div>
    <div class="clear"></div>
</div>

 





   


