@model PandaWebApp.ViewModels.Blog
@{
    var core = AuthorizationCore.StaticCreate();
    var isGuest = core.IsGuest;
    var user = core.User;
}   
<div class="blog">
    <div class="header">Уютный бложечек нашей компании <span class="count">(@Model.Posts.Count)</span></div>
    <ul class="messages">
        @foreach (var iter in Model.Posts)
        {
            Html.RenderAction("Post", "Blog", new { id = iter.Id }); 
        }
    </ul>
    @if (!isGuest && user.IsAdmin)
    {
        @Html.ActionLink("Создать пост", "Create", "Blog")
    }
</div>