* { font-family: "Arial"; padding: 0; margin: 0; }
body { background-color: #fafafa; }

/*little framework*/
/*floats*/
.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.layer  { position: relative; }

.layer.zero { z-index: 0; }
.layer.one { z-index: 1; }

.right-aligned { text-align: right; }
.center-aligned { text-align: center; }

.column { float: left; }
.row { height: 20px; }
.table-3{ }
.table-3 .column { width: 33.333%; }
.table-4 { }
.table-4 .column { width: 25%; }
.table-2 { }
.table-2 .column { width: 50%; }
.table-7 { }
.table-7 .column { width: 14.285%; }


ul.horiz  li { list-style-type: none; float:left; }
ul.list-style { margin-left: 20px; }

.button 
{
	cursor: pointer;
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;  
	border: 1px solid #afb3ac;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 50%, #c5c5c5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#eeeeee), color-stop(100%,#c5c5c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 50%,#c5c5c5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 50%,#c5c5c5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 50%,#c5c5c5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 50%,#c5c5c5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#c5c5c5',GradientType=0 ); /* IE6-9 */
	white-space: nowrap;
    display: block;
}
.button:hover 
{
	border: 1px solid #9d9d9d;
	background: #b4b4b4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4b4b4 0%, #d5d6d6 14%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4b4b4), color-stop(14%,#d5d6d6), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4b4b4 0%,#d5d6d6 14%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4b4b4 0%,#d5d6d6 14%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4b4b4 0%,#d5d6d6 14%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4b4b4 0%,#d5d6d6 14%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.base-input[type=text] 
{ 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; border: 1px solid #a8a8a8; 
	box-shadow: inset 2px 2px 10px 2px rgba(195, 196, 197, 0.75);
	-moz-box-shadow: inset 2px 2px 10px 2px rgba(195, 196, 197, 0.75);
	-webkit-box-shadow: inset 2px 2px 10px 2px rgba(195, 196, 197, 0.75);  
}

.rounded-borders-4 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/*pages*/
.body { width: 1101px; margin: 0 auto; }
.body.header { }

.content-width { width: 960px; margin: 0 auto; }
.full-width { position: absolute; width: 100%; }

.top-links { height: 48px; }
.top-links a { font-size: 14px; color: rgb( 29, 69, 118 ); }
.top-links a.middle { padding-top: 17px; }
.top-links a.middle-img { padding-top: 6.5px; padding-left: 10px; }
.top-links>div { margin-top : 10px; }

.logo { height: 170px; padding-top: 30px; }

.main-menu li { padding-left:20px; }
.main-menu  a{ font-size: 14px; color: rgb( 106, 178, 0 ); }

.banner-top{ width: 500px; height: 100px; margin: 20px; background-color: lightgray; }

.top-panel { position: absolute; height: 48px; width: 100%; background: url(../img/top.png); }
.top-shadow { position:absolute; height: 11px; width: 1101px; background: url(../img/shadow.png); }

.content { padding-top: 28.5px }

.base-content { width: 690px; }

.user { margin-top: 30px; }
.user .header { margin-bottom: 10px; }
.user .header span{ padding-left:10px; }
.user .header .user-name { font-size: 25px; color: rgb( 106, 178, 0 ); font-family: 'Arial Narrow';}
.user .header .user-number { font-size: 14px; color: rgb( 215, 111, 18 ); font-family: 'Arial Narrow'; }
.user .header .user-status 
{ 
	position: relative;
    background-color: #ebebeb; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e1e1e1;
	color: rgb( 0, 0, 0 );
	width: 158px;
	height: 20px;
	padding-top: 3px;
	padding-left: 10px;
	margin-top: 2px;
}
.user .header .user-status span 
{ font-family: 'Arial Narrow'; font-size: 11px; color: black; padding: 0; position: absolute; right: 10px; top: 4px;}
.user .photo { position: relative;display: block;text-align: center;width: 250px;height: 350px; }

.user .photo .ready-to-work 
{ 
	position:absolute; 
	bottom: 4px; 
	padding-left: 4px;
	padding-top: 13px;
	left: 0; 
	background: rgb(223,134,34); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(223,134,34,1) 30%, rgba(209,106,27,1) 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(223,134,34,1)), color-stop(91%,rgba(209,106,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(223,134,34,1) 30%,rgba(209,106,27,1) 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df8622', endColorstr='#d16a1b',GradientType=0 ); /* IE6-9 */
	color: white;  
	height:31px;
	width: 246px;
	font-size: 18px;
	-webkit-box-shadow:  0px -1px 3px 0px rgba(0, 0, 0, 1);
    box-shadow:  0px -1px 3px 0px rgba(0, 0, 0, 1);
}

.user .info { width: 410px; }
.user .info .table-2 .column { font-family: 'Arial Narrow'; font-size: 14px; color: #808080; }
.user .info .table-2 .column + .column { font-size: 14px; color: #333333; }
.user .info .table-2 .column + .column .row { padding-left: 20px; }
.user .info .table-2 .row { margin-bottom: 10px; font-family: 'Arial Narrow'; }
.user .info .table-2 .row .icon { width: 30px; }
.user .info .table-2 .gap { height: 60px; }
.user .info .on-site { color: #333333; }
.user .info .confirmed-true { color: #609c22; }
.user .info .on-site .days { color: #609c22; }

.open { background-color: #cae699; padding: 5px 10px; color: #333333; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-decoration: none;} 

.user .photo-album .header { padding-top: 10px; font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 2px solid #919191;}
.user .photo-album ul {  }
.user .photo-album ul li { list-style-type: none; padding-left: 20px; padding-bottom: 10px;display: block;width: 120px;height: 150px;text-align: center; }
.user .photo-album ul li.first { padding: 0; }
.user .photo-album .more { font-size: 14px; color: rgb( 80, 86, 92 ); background-color: #f7d2b4; height: 30px; cursor: pointer; }
.user .photo-album .more p { text-align: center; padding-top: 0.5em; }

.user .full-info { }
.user .full-info .header { font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 1px solid #919191; padding-top: 20px; }
.user .full-info .inner-table .column .row { font-family: 'Arial Narrow'; font-size: 14px; color: rgb( 128, 128, 128 ); }
.user .full-info .inner-table .column + .column .row { font-family: 'Arial Narrow'; font-size: 14px; color: rgb( 51, 51, 51 ); }
.user .full-info .simple ul li { font-size: 14px; color: rgb( 51, 51, 51 ); list-style-type: square; }

.user .work-time {}
.user .work-time .header { font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 1px solid #919191; padding-top: 20px; }
.user .work-time .row.header { margin: 0; padding-top: 6px; border-bottom: none; height: 24px; }
.user .work-time .row.header p { font-family: 'Arial'; font-size: 14px; color: #333333; font-weight: normal; margin: 0; }
.user .work-time .column.even .row.header { background-color: #dadada; }
.user .work-time .column.odd .row.header { background-color: #e6e6e6; }
.user .work-time .row { height: 24px; border-bottom: 1px solid #cecece; padding-top: 6px; }
.user .work-time .row p { font-family: 'Arial Narrow'; font-size: 14px; color: #666666; margin: 0; line-height: 1; }
.user .work-time .column.even .row { background-color: #ededed; }
.user .work-time .column.odd .row { background-color: #fafafa; }

.user .intresting-things {  }
.user .intresting-things .header { font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 1px solid #919191; padding-top: 20px; }
.user .intresting-things .things .nothing { font-family: 'Arial'; font-size: 14px; color: #808080; }

.user .about {  }
.user .about .header { font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 1px solid #919191; padding-top: 20px; }
.user .about .things .nothing { font-family: 'Arial'; font-size: 14px; color: #808080; }

.user .vacancies {  }
.user .vacancies .header { font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 1px solid #919191; padding-top: 20px; }

.user .work-exp {} 
.user .work-exp .header { font-size: 16px; color: rgb( 106, 178, 0 ); font-weight: bold; border-bottom: 1px solid #919191; padding-top: 20px; }
.user .work-exp .row { height: 50px; }
.user .work-exp .row p { margin: 0; font-family: 'Arial'; font-size: 14px; color: #333333; line-height: 1; }

.user .feedbacks { margin-bottom: 20px;}
.user .feedbacks .header { font-size: 25px; color: rgb( 106, 178, 0 ); line-height: 1.2; border-bottom: 1px solid #919191; float: left; margin-right: 34px; }
.user .feedbacks ul { margin: 0; }
.user .feedbacks ul li { background-color: #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 15px; height: 170px; list-style-type: none; margin: 0; margin-bottom: 15px;}
.user .feedbacks .feedback>.column img {  }
.user .feedbacks .feedback>.column { width: 125px; }
.user .feedbacks .feedback>.column + .column { width: 520px; padding-left: 15px; }
.user .feedbacks .feedback .user-name { font-family: 'Arial'; font-size: 16px; color: #333333; }
.user .feedbacks .feedback .stars p { font-family: 'Arial Narrow'; font-size: 14px; color: #333333; }
.user .feedbacks .feedback .feedback-body { margin-top: 20px; font-family: 'Arial'; font-size: 12px; color: #333333; }
.user .feedbacks .more { font-size: 14px; color: rgb( 80, 86, 92 ); background-color: #f7d2b4; height: 30px; cursor: pointer; }
.user .feedbacks .more p { text-align: center; padding-top: 0.5em; }
.user .feedbacks .rating img { position: relative; top: 6px; height: 18px; width: 20px; }
.user .feedbacks .rating .rating_value { font-size: 16px; font-family: "Arial"; color: rgb( 150, 150, 150 ); line-height: 1.875; margin-right: 24px; position: relative; top: 4px; }
.user .feedbacks .feedback .stars span img { height: 16px; width: 15px; margin-right: 4px; }

.user .intresting-work ul li { font-size: 14px; padding-bottom: 15px; }

.right-sidebar { width: 241px; }

.pulse {}
.pulse .title { font-size: 25px; color: rgb( 106, 178, 0 ); padding-bottom: 10px; }
.pulse ul { }
.pulse ul li { list-style-type: none; padding: 10px; height: 25px; background-color: #ededed; }
.pulse .temp 
{ 
	border-bottom: 1px solid #e2e2e2; 
	height: 3px; 
	padding:0; 
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
}
.pulse .header { background-color: #dcdcdc; padding: 5px; height: 15px; border-bottom: 1px solid #e2e2e2; border-top: 1px solid white; }
.pulse .first { border-top: 1px solid white; }
.pulse .header span { font-size: 12px; color: rgb( 51, 51, 51 ); }
.pulse .header span +span a { font-size: 12px; color: rgb( 29, 69, 118 ); }
.pulse .icon  img { width: 25px; height: 25px; }
.pulse .name { position: relative; bottom: 9px; left: 3px; }
.pulse .name a { font-size: 14px; color: rgb( 29, 69, 118 ); }
.pulse .login a { color: green; }
.pulse .logout a { color: red; }

.banner-side{ background-color: #ededed; width: 239px; height: 250px; margin-top: 10px; }
.banner-side.empty { border: 1px solid black; }

.promouter-top {}
.promouter-top .header { font-size: 25px; font-family: "Arial"; color: rgb( 106, 178, 0 ); }
.promouter-top .header .inner { font-size: 18px; font-family: "Arial"; color: rgb( 128, 128, 128 ); font-style: italic; }
.promouter-top .album { margin: 0; padding: 0; }
.promouter-top .album li { padding: 2px; border: 1px solid #89908f; margin-left: 4px; margin-top: 15px; height: 123px;width: 105px;}
.promouter-top .album li a { text-align: center;display: block;}
.promouter-top a { color: #0a3a66; font-family: 'Arial'; font-size: 12px; }

.simple-delimiter { background: url('../img/simple-delimiter.png'); margin: 9px 0; height: 26px; }

.company-top {}
.company-top .header { font-size: 25px; font-family: "Arial"; color: rgb( 106, 178, 0 ); margin-bottom: 22px; }
.company-top .header .inner { font-size: 18px; font-family: "Arial"; color: rgb( 128, 128, 128 ); font-style: italic; }
.company-top .album { margin: 0; padding: 0; }
.company-top .album li {  width: 127px; height: 130px;  margin-left: 10px; }
.company-top .album li.first { margin-left: 0; }
.promouter-top .album li { text-align: center;display: block;}
.company-top .album img { border: 1px solid #cacaca; }
.company-top>p { padding-top: 20px; }
.company-top a { color: #0a3a66; font-family: 'Arial'; font-size: 12px; }
.company-top .name { font-family: 'Arial Narrow'; font-size:16px; color: #808080; }

.five-reasons { background-color: #e6e6e6; }
.five-reasons .simple-bg { background: url('../img/five-reasons-top-bg.png') no-repeat; height: 11px; }
.five-reasons .reasons h1 { font-family: 'Arial Narrow'; font-size: 30px; color: #313131; }
.five-reasons .reasons ul { margin-top: 20px; }
.five-reasons .reasons ul li 
{ 
	background: url('../img/five-reasons-marker.png') no-repeat;
	padding-left: 30px; 
	height: 35px;
	font-family: 'Arial'; 
	font-size: 14px; 
	color: #181818; 
	list-style-type: none;
	padding-top: 5px;
}
.five-reasons .reasons { width: 396px; padding: 25px; padding-right: 0; }
.five-reasons .reasons-image { padding: 10px 20px; }
.five-reasons .simple-delimiter { margin-bottom: 0px; }

.all-feedbacks {}
.all-feedbacks .header { font-family: 'Arial Narrow'; font-size: 25px; color: #6ab200; margin-bottom: 17px; margin-top: 25px; }
.all-feedbacks .header .count { font-family: 'Arial'; font-style: italic; font-size: 18px; color: #808080; }
.all-feedbacks .feedbacks-content { }
.all-feedbacks .feedbacks-content ul li { width: 280px; margin-right: 60px; }
.all-feedbacks .feedbacks-content ul li.last { width: 280px; margin-right: 0; }
.all-feedbacks .feedbacks-content .icon-container { width: 76px; margin-right: 10px;display: block;text-align: center; }
.all-feedbacks .feedbacks-content .icon img { border: 1px solid #7d7d7d; border-bottom: 3px solid #7d7d7d; }
.all-feedbacks .feedbacks-content .name p { font-family: 'Arial Narrow'; font-size: 12px; color: #333333; }
.all-feedbacks .feedbacks-content .enhanced-feedback-body 
{ width: 170px; border: 1px solid #808080; padding: 10px;position: relative; height: 209px;margin-top: 2px; border-bottom-width: 3px;}
.all-feedbacks .feedbacks-content .mark 
{ background: url('../img/all-feedbacks-mark.png'); position: absolute; width: 5px; height: 17px; top:5px; left: -5px; }
.all-feedbacks .feedbacks-content .enhanced-feedback-body p { font-family: 'Arial'; font-size: 12px; color: #333333; }
.all-feedbacks .link { margin-top:10px; }
.all-feedbacks .link a { font-family: 'Arial'; font-size: 12px; color: #0a3a66; }

.blog { margin-top: 25px; }
.blog .header { font-family: 'Arial Narrow'; font-size: 25px; color: #6ab200; margin-bottom: 10px;}
.blog .header .count { font-family: 'Arial'; font-style: italic; font-size: 18px; color: #808080; }
.blog .messages {}
.blog .messages li { padding: 0; margin: 0; list-style-type: none; }
.blog .messages .header { font-family: 'Arial'; font-style: italic; font-size: 16px; color: #333333; position: relative; }
.blog .messages .header .date { position: absolute; right: 0; top: 0; font-family: 'Arial Narrow'; font-size: 16px; color: #6ab200; }
.blog .messages .picture { width: 220px;height: 180px;display: block;text-align: center; }
.blog .messages .picture img { width: 220px; }
.blog .messages .short-description { margin-left: 15px; width: 725px; }
.blog .messages .short-description p { font-family: 'Arial'; font-size: 12px; color: #4c4c4c; }
.blog .messages .link { margin-top: 10px; }
.blog .messages .link a { font-family: 'Arial'; font-size: 12px; color: #0a3a66; }

.footer { position: relative; margin-bottom: 30px; }
.footer .links { margin-top: 30px; margin-bottom: 40px; }
.footer .links a { font-family: 'Arial'; font-size: 12px; color: #808080; text-decoration: none; }
.footer .links .row { margin-bottom: 15px; }
.footer .link a { font-family: 'Arial'; font-size: 12px; color: #0a3a66; }
.footer .logo 
{ 
	font-family: 'Arial Narrow'; 
	font-size: 35px; 
	line-height: 1; 
	color: white; 
	width: 270px; 
	padding: 5px; 
	height: 30px; 
	background-color:#dcdcdc; 
	position: absolute;
	right: 0;
	top: 190px;
}

/* try to bem */
.header__city { float: left; width: 60px; }
.header__city-link { font-family: 'Arial'; font-size: 14px; color: #1d4576; }
.header__prompt { float: left; width: 200px;margin-top: 12px !important; }
.header__prompt-hello { font-family: 'Arial'; font-size: 14px; color: #808080; }
.header__prompt-name { font-family: 'Arial'; font-size: 14px; color: #333333;}
.header__offers { float: left; width: 440px; }
.header__offers-toyou { font-family: 'Arial Narrow'; font-size: 12px; color: #1d4576; }
.header__offers-selected { font-family: 'Arial Narrow'; font-size: 12px; color: #1d4576; }
.header__offers-saw { font-family: 'Arial Narrow'; font-size: 12px; color: #1d4576; }
.header__offers-count { font-family: 'Arial'; font-style: italic; font-size: 10px; color: #4c4c4c; }
.header__coins { float: left; margin-top: 5px !important; width:60px;}
.header__coins-icon { background: url('../img/coins-icon.png') 0 0 no-repeat; width: 19px; height: 19px; float: left; }
.header__coins-count { float: left; margin-left: 3px; }
.header__coins-count-number { font-family: 'Arial'; font-size: 12px; color: #1d4576; font-weight: bold; }
.header__coins-count-unit { font-family: 'Arial'; font-size: 12px; color: #1d4576; font-style: italic; }
.header__userButtons { float: right; padding-top: 5px;margin: 0 !important;height: 30px; }
.header__cabinet-link { font-family: 'Arial'; color: black !important;height: 18px;}

/*search*/
.search { background-color: #dadada;  margin-bottom: 37px; }
.search__header { font-family: 'Arial'; font-size: 16px; color: #8ac337; border-bottom: 1px solid #cdcdcd; height: 24px; padding-top: 7px; padding-left: 17px;}
.search__termContainer { border-top: 1px solid white; padding: 10px 0; border-bottom: 1px solid #cdcdcd; }
.search__linkContainer { border-top: 1px solid white; border-bottom: 1px solid #cdcdcd; padding-top: 8px; padding-bottom: 16px; }
.search__linkCollapse { color: #1d4576; font-size: 12px; font-family: 'Arial'; margin-right: 20.9px; }
.search__term { width: 760px; margin-left: 16px; height: 28px; margin-top: 4px;}
.search__typeHeader { padding-left: 17px; border-top: 1px solid white; padding-top: 13.7px; font-weight: bold; font-family: "Arial"; font-size: 14px; }
.search__typeContent { padding-left: 17px; border-bottom: 1px solid #cdcdcd; padding-top: 10px; }
.search__typeItem { font-size: 14px; font-family: "Arial Narrow"; }
.search__otherFilters { padding-left: 17px; border-top: 1px solid white; border-bottom: 1px solid #cdcdcd;  padding-top: 16px; }
.search__selectContainer {}
.search_applyContainer { border-top: 1px solid white; padding-top: 13px; padding-bottom: 13px; padding-right: 20.9px; }
.search_applyContainer .search__applyLink { float:right; font-size: 12px; font-family: "Arial"; }
.search__startButton { margin-right: 19px; }
.search__startButton img { width: 139px; }

.search__typeContent ul.horiz,  .search__otherFilters ul.horiz { width: 100%; padding-left: 17.5px; padding-right: 104px; }
.search__typeContent ul.horiz li { width: 223px; height: 31px; }
.search__otherFilters ul.horiz.top  li  { width: 223px; height: 42px; }
.search__otherFilters ul.horiz.bottom  li  { width: 223px; height: 36px; }
.search__banners div.first { margin-top: 3px; }
.search__banners .banner-side  { background-color: #888888; height: 343px; border-radius: 3px; margin-top: 17px; }

.search__slider { margin-top: 10px;margin-right: 50px;margin-bottom: 10px;width: 200px; }

.search ul.horiz input[type=checkbox] { margin-right:  7.8px; }

.searchResult { margin-bottom: 24px; }

.searchResult .banner-side { height: 131px; width: 100%; background: #ededed; margin-top: 4px; margin-bottom: 13px; }

.searchResult__header { font-size: 25px;  font-family: "Arial"; color: rgb( 106, 178, 0 ); padding-bottom: 13.7px; }

.searchResult__body .searchResult__blogList>li.last { padding-bottom: 0px; }
.searchResult__body .searchResult__blogList>li { padding-bottom: 20px; }

.searchResult__blog { border-style: solid; border-width: 1px; border-color: rgb( 218, 219, 218 ); background-color: rgb( 244, 244, 244 );  height: 126.5px; width: 100%; box-shadow: 4px 0px 10px -4px gray; }
.searchResult__blog__bottomShadow { width: 341.7px; position: relative; bottom: 5px; }
.searchResult__blog .searchResult__blog__part1 { height: 126.5px; width: 40.2px; border-right: 1px solid #dadbda; padding-right: 6px; text-align: right; }
.searchResult__blog .searchResult__blog__part1>img { margin-top: 8.9px; }

.searchResult__blog .searchResult__blog__part2 { width: 125px;display: block;text-align: center; }
.searchResult__blog .searchResult__blog__part2>img { margin: 8.9px; }

.searchResult__blog .searchResult__blog__part3 { width: 362px; font-size: 13px; font-family: "Arial"; color: rgb( 51, 51, 51 ); height: 100%; }
.searchResult__blog .searchResult__blog__part3>div, .searchResult__blog .searchResult__blog__part4>div { margin: 8.9px; }
.searchResult__blog .searchResult__blog__part3 .position { padding-right:  9.7px; font-size: 18px; color: rgb( 51, 51, 51 ); text-decoration: underline; }
.searchResult__blog .searchResult__blog__part3 .lifetime { font-size: 11px; color: rgb( 128, 128, 128 ); padding-top: 5px; }
.searchResult__blog .searchResult__blog__part3>div>ul { margin-top: 13px; }

.searchResult__blog .searchResult__blog__part4 .payment { position: absolute; height: 28px; width: 155px; background: green; text-align: center; vertical-align: middle; padding-top: 5px; color: rgb( 255, 255, 255 ); font-size: 17.505px; }

.searchResult__blog .companyPage { font-size: 13px;  font-family: "Arial"; position: absolute; margin-top: 102.5px; margin-right: 17.7px; }

.bold { font-weight: bold; }

.searchResult ul { list-style: none; }

.pager { text-align: center; font-size: 18px; font-family: "Arial"; }
.pager.top { padding-bottom: 13px; }
.pager.bottom { padding-top: 13px; padding-bottom: 11px; } 
.pager a, .pager img { margin-right: 2px; margin-left: 2px; text-align: center; }
.pager img { width: 30px; height: 28px; }
.pager a {position: relative; bottom: 7px; }

.search-company-top .album li { padding-bottom: 30px; }

.employer {
	
}

.error_text {
	color: red;
	font-size: 14px;
}
.form_label { }

.email_field {
	width: 300px;
}

.password_field {
	width: 300px;
}

.text_area {
	width: 300px;
    height: 100px;
}

.password_forget {
	text-align: right;
}


.green_button {
background-clip: border-box;
font-weight: bold;
display: -moz-inline-box;
display: inline-block;
position: relative;
overflow: hidden;
outline: none;
margin: 2px;
padding: 6px 9px 6px 9px;
line-height: 12px;
font-size: 1em;
font-family: Arial,Helvetica,Sans-serif;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px #ffffff;
-moz-box-shadow: 0 1px 1px #ffffff;
box-shadow: 0 1px 1px #ffffff;
background-color: #2E8800;
background-origin: padding-box;
background-position: -250px 50%;
color: white !important;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
border: 1px solid #2E8800;
}



.editor { margin-bottom: 5px; }
.editor-label { float: left; clear: both; }
.editor-label label { font-size: 16px; display: block; }

.editor-field { margin-left: 200px; font-size: 16px; }

.editor-field input, .editor-field select{ font-size: 16px; width: 300px;}

.editor-field-country-code { width: 50px !important;float: left; margin-right: 5px;}
.editor-field-code { width: 50px !important;float: left; margin-right: 5px; }
.editor-field-number { width: 190px !important; }

.editor-company-type input { float: left; font-size: 11px; margin-left: 0px;width: auto; }
.editor-company-type label { float: left; font-size: 11px; margin-right: 5px;}

.user .rating_editor img {width: 15px; height:15px; }

.browsing__chartContainer { height: 350px;padding-top: 10px; }
.browsing__chartTitle { font-weight: bold;margin-bottom: 11px;text-align: center; }
.browsing__chart { height: 300px; width: 650px; }
.browsing__list { margin: 20px;padding: 0; }
.browsing__listItem { list-style-type: none; }

#chart .label { font-size: 10px; text-align: center; }
#chart .axis-label { top: 310px !important; }


.cabinet .header a { font-family: 'Arial'; color: black !important;font-size: 16pt; }
.cabinet .header li  { margin-left: 60px; }
.cabinet .header li.first  { margin-left: 0; }
.cabinet .header li.selected a  { text-decoration: none; }

.cabinet .subheader {margin-top: 15px;margin-bottom: 8px; height: 46px;width: 100%;background-color: #ededed;border-bottom: 3px solid #a6d260;}
.cabinet .subheader p {margin-left: 10px; font-family: 'Arial';color: #8c8c8c;font-size: 16pt;line-height: 2em; }

.cabinet div.control label { font-size: 10pt;margin-bottom: 8px;display: block;  }
.cabinet div.control div.editor { margin-bottom: 8px; }

.cabinet div.control div.editor input[type=text] { font-size: 12pt;padding: 2px; } 
.cabinet div.control div.editor input[type=text].xl { width: 300px; } 
.cabinet div.control div.editor input[type=text].l { width: 200px; } 
.cabinet div.control div.editor input[type=text].m { width: 85px; } 
.cabinet div.control div.editor input[type=text].s { width: 75px; } 

.cabinet .table-2 .tall { height: 60px !important;}
.cabinet .table-2 .row  { height: 20px;}
.cabinet div.control .sel_wrap { width: 0;padding-left: 0px; }
