@model ICollection<PandaWebApp.ViewModels.Promouter>


<ul class="album horiz">
    @foreach (var promouter in Model)
    {
        <li class="rounded-borders-4">
            <img src="@ImageCreator.Create(promouter.Photo, 128, 128)" />
        </li>
    }
</ul>

<p class="right-aligned clear">@Html.ActionLink("начать поиск по исполнителям", "Promouter", "Search")</p>



