@model ICollection<PandaWebApp.ViewModels.Promouter>


<ul class="album horiz">
    @foreach (var promouter in Model)
    {
        <li class="rounded-borders-4">
            <a href="@Url.Action("Detail", "Promouter", new { id = promouter.UserId })">
                <img src="@ImageCreator.Create(promouter.Photo, 128, 128)" />
            </a>
        </li>}
</ul>

<p class="right-aligned clear"><a href="#">начать поиск по исполнителям</a></p>


