
<div id="dialog-form1" title="Вход">
    <form @*action="@Url.Action("Login","Authorization")" method="POST"*@> 
        <fieldset>    
            <label for="email">Email</label>
           @* @Html.TextBoxFor(m => m.Email);
            
            <label for="password">Пароль</label>
            @Html.PasswordFor(m => m.Password);*@
        </fieldset>
        <input type="submit" />
    </form>
</div>