@model PandaWebApp.FormModels.EditCoinsForm


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UserId)
    <div>Количество монеток:</div>
    @Html.EditorFor(model => model.Coins)
    <input type="submit" value="Применить" />
}