
@{
    var core = AuthorizationCore.StaticCreate();
    var isGuest = core.IsGuest;
    var user = core.User;
    var username = core.UserName;
    var city = core.City;
}    

<div class="top-links content-width">
@if (isGuest)
{
    <a href="#" class="first left middle">Выберите город</a>
     <a class="second right middle-img" href="@Url.Action(WebConstants.LoginActionName, WebConstants.AuthorizationControllerName)"><img src="~/Content/img/enter-button.png" /></a>

    @* TODO - why only promouter ??? *@
    <a href="#" id="registerButton"  class="third right middle">Зарегистрироваться на сайте</a>
}
else 
{
    
    <div class="first left middle"><a href="#">@city</a></div>
    <div class="left"><span class="prompt">Здравствуйте</span><span class="name">@username</span></div>
	<div class="left">
        <a href="#" class="little">Предложения для вас</a> |
        <a href="#" class="little">Выбранные вакансии</a> |
        <a href="#" class="little">Вашу анкету смотрели</a>
	</div>
    <div class="left">@user.Coins</div>
    <div class="left"><a href="#">##TOUSER##</a></div>
}

    <div class="clear"></div>
</div>