<div id="registerForm" title="Регистрация">
    <h3>Я ищу работу.</h3>
    <script>
        function onPromouterValidation(data) {
            try {
                var json = JSON.parse(data.responseText);
                window.location.replace(json.path);
            }
            catch (e) {
                console.log(e);
            }
        }
    </script>
    @{ Html.RenderAction("Create", "Promouter"); }
    @Html.ActionLink("Я работодатель", "Create", "Employer")
</div>