
﻿<script>
    function onPromouterValidation(data) {
        try {
            $('#registerForm').dialog('close');
            var json = JSON.parse(data.responseText);
            window.location.replace(json.path);
        }
        catch (e) {
            console.log(e);
        }
    }
    
    function onLoginValidation(data) {
        try {
            $('#registerForm').dialog('close');
            var json = JSON.parse(data.responseText);
            window.location.replace(json.path);
        }
        catch (e) {
            console.log(e);
        }
    }
    
</script>
 


<div id="registerForm">
    <ul>
        <li><a href="#login">Авторизация</a></li>
        <li><a href="#register">Регистрация</a></li>
    </ul>
    <div id="login">
        @{ Html.RenderAction("Login", "Authorization"); }
    </div>
    <div id="register">
        <h1>Я ищу работу.</h1>
        @{Html.RenderAction("Create", "Promouter"); }
        @Html.ActionLink("Я работодатель", "Create", "Employer")
    </div>
</div>
