@model PandaWebApp.ViewModels.HomeView

<div class="promouter-top">
    <div class="header">
        Участники проекта (@Model.TotalPromouters): <span class="inner">Средняя цена 1ого часа:@Model.AveragePromouterCost р</span>
    </div>
     @{ Html.RenderAction("TopPromouters", "Promouter", new { count = 12 }); }
</div>

<div class="simple-delimiter"></div>

<div class="company-top">
    <div class="header">
        Компании проекта (@Model.TotalEmployers): <span class="inner">Средняя цена акции: @Model.AverageEmployerCost р</span>
    </div>
    @{ Html.RenderAction("TopEmployers", "Employer", new { count = 5 }); }
</div>


