@model PandaWebApp.ViewModels.StaticPage

@Html.Raw(Model.Content)

@{
    var core = AuthorizationCore.StaticCreate();
    var isGuest = core.IsGuest;
    var user = core.User;  

    if (!isGuest && user.IsAdmin)
    {
        <div><a href="@Url.Action("EditStaticPage", "StaticPage", new {pageId = Model.Id})">Отредактировать</a></div>
    }
}
