@model PandaWebApp.ViewModels.Feedback

 <div class="rating">
        <img class="commom_rating_value" src="/Content/img/red_star.png"><span class="rating_value">@Model.RedAverage</span>
        <img class="commom_rating_value" src="/Content/img/green_star.png"><span class="rating_value">@Model.GreenAverage</span>
        <img class="commom_rating_value" src="/Content/img/orange_star.png"><span class="rating_value">@Model.OrangeAverage</span>
</div>
<div class="clear"></div>
   