@model PandaWebApp.FormModels.Register.Employer

<script>
    $(function() {
        $('#registerTabs').tabs();
    });
</script>
<div id="registerTabs">
        <ul>
            <li><a href="#company">Представитель компании</a></li>
            <li><a href="#privateEmployer">Частный работодатель</a></li>
            <li><a href="#privateRecrouter">Частный рекрутер</a></li>
        </ul>
    <div id="company">
        
    </div>
    <div id="privateEmployer">
    </div>
    <div id="privateRecrouter">
    </div>
</div>
            