@using PandaDataAccessLayer.DAL
<script>
    function onEmployerValidation(data) {
        try {
            if (data.path != undefined)
                window.location.replace(data.path);
            
            var t = JSON.parse(data.responseText);
            if (t.path != undefined)
                window.location.replace(t.path);
            
        }
        catch (e) {
            console.log(e);
        }
    }
    $(function () {
        onEmployerValidation();
        $('#registerTabs').tabs();
        $('body').on('change', '[id=CompanyType]', function () {
            var checked = $('[id=CompanyType]:checked');
            if (checked.val() == "@Constants.RecroutingCompany") {
                    $('#companySubTypePlace').hide();
                } else {
                    $('#companySubTypePlace').show();
                }
            });
        });
</script>
    <div id="registerTabs">
        <ul>
            <li><a href="#company">Представитель компании</a></li>
            <li><a href="#privateEmployer">Частный работодатель</a></li>
            <li><a href="#privateRecrouter">Частный рекрутер</a></li>
        </ul>
        <div id="company">
            @{ Html.RenderAction("CreateCompany"); }
        </div>
        <div id="privateEmployer">
            @{ Html.RenderAction("CreatePrivateEmployer"); }
        </div>
        <div id="privateRecrouter">
            @{ Html.RenderAction("CreatePrivateRecruiter"); }
        </div>
    </div>