@model ICollection<PandaWebApp.ViewModels.Employer>


<ul class="album horiz">
    @foreach (var employer in Model)
    {
        <li class="rounded-borders-4">
            <img src="@ImageCreator.Create(employer.Photo, 128, 128)" />
            <p class="center-aligned"><a class="name" href="@Url.Action("Detail", "Employer", new { id = employer.UserId })">@employer.EmployerName</a></p>
        </li>
    }
</ul>
<p class="right-aligned clear">@Html.ActionLink("начать поиск по компаниям", "Employer", "Search")</p>


